@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
*{
    font-family: "Manrope", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
      
}
header{
    background-color:rgb(0, 255, 209);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border: 40px;
    
}

title{
    
    
    font-style: normal;
    color: rgb(0, 0, 0);
    
}
body{
    background-color:rgb(217, 217, 217);

}
footer{
    background-color: rgb(0, 255, 209);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border: 40px;
}
h1{
    
    margin-left: 50px;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-align: left;
}
img{
    background-color: white;
    width: 100%;
    max-width: max-content;
    height: 300px;
    max-height: max-content;
    border: 5px solid rgb(255, 255, 255);
    padding: 3px;
    border-radius: 10px;
}
.avatar{
    background-color: white;
    width: 100%;
    max-width: fit-content;
    height: 300px;
    max-height: fit-content;
    border: 5px solid rgb(255, 255, 255);
    margin-left: 5px;
    margin-right: 0%;
    margin-top: 10px;
    padding: 3px;
    padding-bottom: 50px;
    object-position: center;
    border-radius: 10px;
}    
.descrizione{
    margin-left: 360px;
    margin-right: auto;
    margin-top: -300px;
}
h2{
    font-size: 30px;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-align: left;
    }
h3{
    background-color: white;
    border-radius: 10px;
    padding: 50px;
}
h4{
    font-size: 25px;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-left: 20px;
}
h5{
    font-size: 25px;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-align: center;
    
    
    
}
.foto{
    margin-left: 360px;
    margin-top: -370px;
    margin-bottom: 50px;
}
.menu{
    font-size: 25px;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-left: 60px;
    margin-top: 150px;
    margin-bottom: 50px;
    width:150px;
    background-color: aquamarine;
    padding: 30px;
    border-radius: 10px;
}
p{
    color: black;
    text-align: center;
}

@media (max-width:640px){
    @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
*{
    font-family: "Manrope", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
      
}
header{
    background-color:rgb(0, 255, 209);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border: 40px;
    
}

title{
    
    
    font-style: normal;
    color: rgb(0, 0, 0);
    
}
body{
    background-color:rgb(217, 217, 217);

}
footer{
    background-color: rgb(0, 255, 209);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border: 40px;
}
h1{
    
    margin-left: 30px;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-align: left;
}
img{
    background-color: white;
    width: 100%;
    max-width: max-content;
    height: 300px;
    max-height: max-content;
    border: 5px solid rgb(255, 255, 255);
    padding: 3px;
    border-radius: 10px;
}
.avatar{
    background-color: white;
    width: 100%;
    max-width: fit-content;
    height: 300px;
    max-height: fit-content;
    border: 5px solid rgb(255, 255, 255);
    margin-left: 100px;
    margin-right: 0%;
    margin-top: 10px;
    padding: 3px;
    padding-bottom: 50px;
    object-position: center;
    border-radius: 10px;
}    
.descrizione{
    margin-left: 60px;
    margin-right: 50px;
    margin-top: 50px;
}
h2{
    font-size: 30px;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-align: center;
    
    }
h3{
    background-color: white;
    border-radius: 10px;
    padding: 50px;
}
h4{
    font-size: 25px;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: -100px;
}
h5{
    font-size: 25px;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-align: center;
    
    
    
}
.foto{
    margin-left: 100px;
    margin-right: 0px;
    margin-top: 50px;
    
}
.menu{
    font-size: 25px;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-left: 150px;
    margin-top: 50px;
    
    width:150px;
    background-color: aquamarine;
    padding: 30px;
    border-radius: 10px;
}
p{
    color: black;
    text-align: center;
}
}
@media (max-width:370px){
    @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
*{
    font-family: "Manrope", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;
      
}
header{
    background-color:rgb(0, 255, 209);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border: 40px;
    
}

title{
    
    
    font-style: normal;
    color: rgb(0, 0, 0);
    
}
body{
    background-color:rgb(217, 217, 217);

}
footer{
    background-color: rgb(0, 255, 209);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border: 40px;
}
h1{
    
    margin-left: 30px;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-align: left;
}
img{
    background-color: white;
    width: 100%;
    max-width: max-content;
    height: 300px;
    max-height: max-content;
    border: 5px solid rgb(255, 255, 255);
    padding: 3px;
    border-radius: 10px;
}
.avatar{
    background-color: white;
    width: 100%;
    max-width: fit-content;
    height: 300px;
    max-height: fit-content;
    border: 5px solid rgb(255, 255, 255);
    margin-left: 0px;
    margin-right: 0%;
    margin-top: 10px;
    padding: 3px;
    padding-bottom: 50px;
    object-position: center;
    border-radius: 10px;
}    
.descrizione{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 50px;
    object-position: center;
    
}
h2{
    font-size: 30px;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-align: center;
    
    
    }
h3{
    background-color: white;
    border-radius: 10px;
    padding: 50px;
}
h4{
    font-size: 25px;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: 20px;
}
h5{
    font-size: 25px;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-align: center;
    
    
    
}
.foto{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
}
.menu{
    font-size: 25px;
    font-style: normal;
    color: rgb(0, 0, 0);
    text-align: left;
    margin-left: 0px;
    margin-top: 50px;
    
    width:150px;
    background-color: aquamarine;
    padding: 30px;
    border-radius: 10px;
}
p{
    color: black;
    text-align: center;
}
}
